.bannerImg {
  background-image: url("../../assets/banner.jpg");
  /* height: 100vh; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border-radius: 20px; */
}

.green {
  color: #198754;
}
